/* common styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

.btn-primary {
  background-color: #ff5400;
  border: none;
  color: white;
}

.btn-primary:hover {
  background-color: white;
  border: 2px solid #ff5400;
  color: #ff5400;
  transition: 0.5s;
}

#primary-color {
  color: #ff5400;
}



/* header starts */

/* nav starts */
